doctype html
html
  head
    title File upload form
  body
    form(action='/file/upload', method='POST', enctype='multipart/form-data')
      input(type='file', name='theFile')
      input(type='submit', value='Upload')