extends layout

block content
    .row.background1
        .col-md-6
            h1 PORTFOLIO BUILDER
             
        .col-md-6
            form.form-inline
                .form-group
                    label.sr-only(for='exampleInputName2') Name
                    input#exampleInputName2.form-control(type='text', placeholder='Name')
                .form-group
                    label.sr-only(for='exampleInputPassword3') Password
                    input#exampleInputPassword3.form-control(type='password', placeholder='Password')
                .checkbox
                    label
                    input(type='checkbox')
                    |  Remember me
                button.btn.btn-default(type='submit') Sign in

        