extends layout

block content
  .row
    .col-md-1
        p JONATHANS PORTFOLIO WEBSITE
    .col-md-1
    .col-md-1
    .col-md-1
    .col-md-1
    .col-md-1
        p WORK
    .col-md-1
    .col-md-1
        p CONTACT
    .col-md-1
    .col-md-1
        p ABOUT
    .col-md-1 
  p JONATHANS PORTFOLIO WEBSITE
  .row
      .col-md-4 
            img(src="http://lorempixel.com/400/200")
      .col-md-4 
            img(src="http://lorempixel.com/400/200")
      .col-md-4 
            img(src="http://lorempixel.com/400/200")
  .row
      .col-md-4 1
            
      .col-md-4 2
            
      .col-md-4 3
           
  .row
      .col-md-4 1
           
      .col-md-4 2
           
      .col-md-4 3
           