body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background1 {
    background-color: #BFBC80;
    padding: 25px;
    box-shadow: 0px 10px 5px #888888;
}

.background2 {
    background-color: #E5E2C1;
    padding: 25px;
    padding-bottom: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
    color: #7F7D6B;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin: 0;
    color: #FFFBD6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin: 0;
    color: #FFFBD6;
    text-align: center;
}

.spacer {
    margin-left: 7px;
}

img {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #FFFBD6;
    text-shadow: 0px 0px 7px #7F7D6B;
}

a:active {
    text-decoration: none;
    color: #FFFBD6;
    text-shadow: 0px 0px 7px #7F7D6B;
}

.background3 {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #BFBC80;
}

h3 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #7F7D6B;
}

.background4 {
    background-color: #E5E2C1;
    padding: 25px;
}